* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  body {
    font-size: 24px;
    line-height: 32px;
    color: orange;
    background-image: url(../images/background.jpg);
  }
  hr{
    border-top: 2px solid orange      
  }
  nav {
      width: 100%;
      background-color: #1a3263;
      border-color: #cccccc;
      position: absolute;
      top: 0;
      left: 0;
  }
  .navbar-collapse.collapse {
    display: block!important;
  }
  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }
  .navbar-right {
    float: right!important;
  }
#navbarSupportedContent {
    float: right;
  }
  .navbutton{
      float: left;
      margin: 20px;
      padding: 20px;
  }
  .nav-link{
    color: orange;
    align-content: center;
  }
a:visited{
    color: orange !important;
    text-decoration: none;
    font-size: 18px;
  }
a {
    text-decoration: none;
    font-size: 18px;
    color: orange !important;
}
  #navbuttoncontainer{
      float: right;
  }
  .navwrapper{
      width: 960px;
      margin: 0 auto;
  }
  .bg-light{
    background-color: #1a3263 !important;
  }
  .vr{
    border-left: 2px solid orange;
    float: left;
    height: 60px;
    position: relative;
    top: 30px;
  }
  #name{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: orange;
    padding: 20px;
    color: #1a3263;
    float: left;
    position: absolute;
    bottom: 0;
    left: auto;
  }
  .wrapper{
    width: 960px;
    margin: 150px auto;
  }
  .container {
    padding: 20px;
    margin: 20px auto;
    background-color: #1a3263;
    border-color: #dddddd;
    overflow: auto;
  }
  .portfolioContainer {
    text-align: center;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    color: orange;
    background-color: #1a3263;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  img{
      object-fit: cover;
      width: 100%;
      height: 30%;
  }
  #mypic{
      align-content: center;
      margin: 20px;
      max-width: 90%;
      height: auto;
  }
  .banner {
    height: 30%;
    padding: 5px;
    text-align: center;
    background-color: orange;
    color: white;
    position: relative;
    max-width: 100% !important;
    bottom: 100px;
    overflow-x: hidden;
  }
#statroller{
    height: 70px;
    overflow: visible;
}
h2{
  padding: 20px;
  margin: 20px auto;
}
input{
    padding: 5px 15px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
}
textarea{
    padding: 5px 15px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
}
button{
    background-color: orange;
    color: #e8e2db;
    font-size: 18px;
    line-height: 27px;
    border: 0;
    padding: 12px 30px;    
}
button:hover{
    cursor: pointer;
}
.bottomLinks{
  font-size: 24px;
  line-height: 32px;
  color: orange;
  text-decoration: underline;
  text-align: center;
}
.bottomLinks:visited{
  font-size: 24px;
  line-height: 32px;
  color: orange;
  text-decoration: underline;
  text-align: center;
}
#statlink{
  position: relative; 
  bottom: 28px;
}
footer {
  text-align: center;
  width: 100%;
  border-top: 8px solid orange;
  background-color: #1a3263;
  padding: 20px;
  color: #e8e2db;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  bottom: 0;
}
.contactBottom{
  margin: 40px auto 0 auto;
  text-align: center;
}
.contactMid{
  margin: 40px auto 20px auto;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .wrapper {
    width: 100%;
  }
  footer{
    font-size: 12px;
    line-height: 18px;
  }
  #name{
    visibility: hidden;
  }
  a{
    font-size: 14px;
    line-height: 21px;
  }
  .vr{
    visibility: hidden;
  }
}