header{
    text-align: center;
    background-color: #444444;
    color: white;
    font-size: 28px;
    line-height: 42px;
    margin: 10px, 10px;
    padding: 20px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar{
    background-color: #EEEEEE;
    padding: 20px 20px;
    width: 100%;
    overflow: auto;
    text-align: left;
    float:left;
    min-height: 100%;
}
label{
    display:block;
}
.cityButton{
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 15px;
    font-size: 24px;
    line-height: 36px;
    background-color: orange;
    color: white;
}
.cityButton:hover{
    cursor: pointer;
}
.mainContent{
    padding: 20px 20px;
    width: 100%;
    overflow: auto;
    text-align: left;
    float:left;
}
.temp, .humidity, .wind, .uv{
    font-size: 20px;
    line-height: 30px;
}
.city{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
.forecastDay{
    border: 2px solid gray;
    margin: 10px;
    background-color: orange;
}
.forecastContents{
    font-size: 18px;
    line-height: 27px;
    color: white;
    font-weight: bold;
}
button{
    background-color: orange;
    color: white;
}