* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  body {
    font-size: 24px;
    line-height: 32px;
    color: black;
    background-image: url(../images/background.jpg);
  }
  .wrapper{
    width: 960px;
    margin: 50px auto;
  }
  .container{
    padding: 20px;
    margin: 20px auto;
    color: #777777;
    background-color: #222222
    border-color: #dddddd;
    overflow: auto;
  }
  #content{
    color: #777777;
    background-color: #222222;
    overflow: auto;
  }
  .timer{
    position: absolute;
    right: 0;
    padding: 20px 20px;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 45px;
    color: #777777;
    background-color: #222222;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
h2{
  padding: 20px;
  margin: 20px auto;
  color: green;
  text-align: center;
}
input{
    padding: 5px 15px;
    width: 30%;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 20px;
}
button{
    background-color: green;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    border: 0;
    border-radius: 12px;
    padding: 12px 30px;
    margin: 20px 20px; 
}
button:hover{
    cursor: pointer;
}
a:hover{
  cursor: pointer;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: #777777;
  width: 100%;
 text-align: center;
}